.buttonable_dialog input[type="submit"] {
    margin-left: 5px;
}

.buttonable_dialog .form-table {
    width: auto;
}

.buttonable_dialog .form-table th {
    width: auto;
}

.ui-autocomplete {
    z-index: 300003 !important;
}
